{% extends 'base.html'%}

{% block content %}
  <!-- Header-->
  <header class="bg-dark py-2">
    <div class="container px-4 px-lg-5 my-2">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder" style="color: red;">Media House</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to media House <br>Your one stop house of meme...</p>
        </div>
    </div>
</header>


<br/><br/>


<div class="container">
    <div>
        <center>
            <p>This is the meme house</p>
        </center>
    </div>

</div>
<br/><br/>



{% endblock %}
