{% extends 'base.html' %}

    {% block content %}
       
        <!-- Header-->
        <header class="bg-dark py-2">
            <div class="container px-4 px-lg-5 my-2">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder" style="color: red;">Media House</h1>
                    <p class="lead fw-normal text-white-50 mb-0" >Your one stop house of meme &#128514;&#128514;&#128514;</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">

            <div class="container px-4 px-lg-5 mt-5">
                
                
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
       
                    {% for video in media %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <video controls class="card-img-top" autoplay muted src="{{video.Media.url}}"  type="video/mp4"></video>

                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{video.title}}</h5>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            
            </div>

    {% endblock %}








            
